h1{
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-style: normal;
   }
h2{font-family: "Jersey 10", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-style: normal;
   }
h3{font-family: "Gravitas One", sans-serif;
}
h4{
  font-family: "Oswald", sans-serift;
}
h5{
  
}
p{
  color: black;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  

.button{
  padding: 10px;
  border-radius: 5px;
}
#CalltA:hover{
  background-color: rgb(25, 78, 18);
}

