@import "tailwindcss";

@theme{
    --font-sans: "Platypi", sans-serif;
}
@utility container{
margin-inline: auto;
padding-inline: 1.5rem;
}
@layer components{
    #CalltA{
        @apply text-2xl bg-black text-yellow-500 uppercase;
      }
}
